body{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
}

/* ------------------------article------------------------ */
.wrapper{
    width:100%;
    height: auto;
    padding-top: 100px;
}
.main{
    display: flex;
    flex-wrap: nowrap;
}

.banner_map{
    display: none;
}

/* ------------Leftph------------ */

.Leftph{
    width: 50%;
    height: calc(100vh - 100px);
    margin: 60px 0;
    text-align: center;
    position: sticky;
    top: 100px;
}

.Burgerimg{
    height: 100%;
    min-height: 0;
    position: relative;
}

.Burgerimg img{
    width: 350px;
    height: auto;
    text-align: center;
}

/* ------------Rightdetil------------ */

.Rightdetail{
    width: 50%;
    height: auto;
    padding: 20px 24px;
    box-sizing: border-box;
    background-color: #FBF8F3;
}

/* ------------name------------ */

.Rightdetail .Name{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

.Rightdetail .Name .bgtitle{
    width: 100%;
    height: 41px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.Rightdetail .Name .bgname{
    width: 177px;
    height: 41px; 
    display: inline-block;
}

.Rightdetail .Name .bgname h1{
    width: 177px;
    height: 41px;
    line-height: 41px;
    font-size: 28px;
}


.Rightdetail .Name .price{
    width: 106px;    
    display: inline-block;
}

.Rightdetail .Name .price .Before{
    width: 50px;
    display: inline-block;
}

.Rightdetail .Name .price .Before h4{
    width: 50px;
    
    font-size: 22px;
    color: #666;
    text-decoration:line-through;

}

.Rightdetail .Name .price .Special{
    width: 50px;
    height: 41px;
    line-height: 41px;
    display: inline-block;
}

.Rightdetail .Name .price .Special h4{
    width: 50px;
    height: 41px;
    line-height: 41px;
    font-size: 22px;
    color:#E60012;
}

.productinfo{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.productinfo p{
    font-size: 14px;
    line-height: 1.6;
}

.tag{
    width: 100%;
    height: auto;
    display: inline-block;
}

.tag ul{
    display: flex;
    flex-wrap: wrap;
    gap:16px 0;
}

.tag li{
    font-size: 14px;
    width: auto;
    margin-right: 24px;
    height: auto;
}

.tag img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    vertical-align: middle;

}


/* ------------Upgradeset------------ */
.Upgradeset{
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.settitle{
    width: 100%;
    height: 81px;
}

.settitle h2{
    font-size: 22px;
    height: 81px;
    line-height: 81px;
}

.upsetcard{
    padding: 15px 10px 35px;
    box-sizing: border-box;
}

.upsetcard .setimg{
    width: 160px;
    height: 135px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.upsetcard .setimg img{
    width: 110px;
    height: 103px;
    box-sizing: border-box;
    font-size: 0;
}

.setinfo{
    width: 160px;
    height: auto;
    text-align: center;
}


.setinfo .title{
    width: auto;
    height: auto;
    margin-bottom: 8px;
}

.setinfo .title h4{
    font-size: 16px;
    line-height: 1.3;
}


.setinfo .addprice{
    width: auto;
    height: auto;
}

.setinfo .addprice h4{
    font-size: 16px;
}

/* ------------Changeset------------ */


.Changeset{
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}
.setcombo{
    width: 100%;
    height: auto;
}

.setcombo ul{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: stretch;
}

.setcombo li{
    width: 33%;
    height: auto;
}

.setcard{
    padding: 15px 10px 35px;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
}

.setcard .setimg{
    width: 160px;
    height: 135px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.setcard .setimg img{
    width: 110px;
    height: 103px;
    box-sizing: border-box;
    font-size: 0;
}

/* ------------Addon------------ */

.Addon{
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}


/* ------------Info------------ */

.Info{
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.Nutrition{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.Nutrition li{
    width: auto;
    height: auto;
    margin-right:45px;
    display: inline-block;
    line-height: 1.6;
}

.Nutrition h3{
    font-size: 20px;
}

.Nutrition h4{
    font-size: 14px;
}

/* ------------Notice------------ */

.Notice{
    width: 100%;
    height: auto;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}

.Noticecontent{
    width: 100%;
    height: auto;
    padding-left: 20px;
    box-sizing: border-box;
}

.Noticecontent li{
    font-size: 16px;
    line-height: 1.6;
    list-style-type: disc;
}


/* ---------------------Bottombtn--------------------- */

.Bottombtn{
    width: 100%;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button a{
    width: 300px;
    height: 50px;
    border: 1px solid #E60012;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-size: 16px;
    text-decoration: none;
    color: #E60012;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.Button a:hover{
    background-color: #E60012;
    color: white;
}

.Button a i:hover{
    color: white;
}


/* -------------------------RWD------------------------- */

@media screen and (max-width: 1024px) {
    .setcombo li{
        width: 50%;
    }
}

@media screen and (max-width: 960px) {
    .wrapper{
        padding-top: 75.58px;
    }
}


/* -------------------------mobile------------------------- */

@media screen and (max-width: 768px) {

    .wrapper{
        width:100%;
        height: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
    }

    .banner_map {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 8px 10px;
        box-sizing: border-box;
    }

    .banner_map a{
        width: auto;
        display: flex;
        align-items: flex-start;
        margin: 0 0 ;

        color: #333;
        text-decoration: none;
    }

    .banner_map a::after{
        content: ">";
        margin: 0 5px;
    }

    .banner_map a:last-child:after{
        content: "";
    }

    /* ------------topph------------ */
    .Leftph{
        width: calc(100vw - 20px);
        height: auto;
        margin: 30px 10px;
        position:static;
    }
    
    .Burgerimg{
        height: auto;
        min-height: 0;
        position: static;
        display: flex;
        justify-content: center;
    }
    
    .Burgerimg img{
        width: 250px;
        height: auto;
    }

    /* ------------downdetil------------ */

    .Rightdetail{
        width: 100%;
        height: auto;
        padding: 0 0 ;
        box-sizing: border-box;
    }

    /* ------------name------------ */
    .Rightdetail .Name{
        width: calc(100vw - 20px);
        margin: 0 10px;
        padding: 30px 0;
        box-sizing: border-box;
    }
    
    .Rightdetail .Name .bgtitle{
        width: auto;
        margin-bottom: 25px;
    }
    
    .Rightdetail .Name .bgname h1{
        font-size: 24px;
    }
    
    
    .Rightdetail .Name .price .Before h4{
        font-size: 20px;
    }
    
    .Rightdetail .Name .price .Special h4{
        font-size: 20px;
    }
    
    .productinfo{
        width: calc(100vw - 20px);
        margin-bottom: 25px;
    }
    
    .tag{
        width: calc(100vw - 20px);
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    .tag ul{
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    
    .tag li{
        margin: 0 0;
        margin-right: 0;
    }


/* ------------Upgradeset------------ */

    .Upgradeset{
        width: calc(100vw - 20px);
        height: auto;
        margin: 0 10PX;
        padding-top: 30px;
        padding-bottom: 0px;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
    }
    
    .settitle{
        width: calc(100vw - 20px);
        height: 41px;
        margin-bottom: 25px;
    }
    
    .settitle h2{
        font-size: 20px;
        height: 41px;
        line-height: 41px;
    }


/* --------------Card-------------- */

    .upsetcard{
        display: flex;
        align-items: start;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .upsetcard .setimg{
        width: 110px;
        height: 100%;
        margin-bottom: 0px;
    }
    
    .setcard{
        padding: 15px 10px 35px;
        box-sizing: border-box;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .setcard .setimg{
        width: 110px;
        height: 100%;
        margin-bottom: 0px;
    }

    .setcard .setimg img{
        width: 110px;
        height: auto;
        margin-bottom: 0;

        display: flex;
        align-items: center;
    }
    
    .setinfo{
        width: auto;
    }
    
    
    .setinfo .title{
        width: auto;
        height: auto;
        margin: 12px 0 ;
    }
    
    .setinfo .title h4{
        font-size: 14px;
    }
    
    .setinfo .addprice{
        width: auto;
    }
    
    .setinfo .addprice h4{
        font-size: 14px;
    }

    /* ------------Changeset------------ */
    .Changeset{
        width: calc(100vw - 20px);
        height: auto;
        margin: 0 10PX;
        padding-top: 30px;
        padding-bottom: 0px;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
    }
    
    .setcombo{
        width: calc(100vw - 20px);
        height: auto;
        display: flex;
    }

    .setcombo ul{
        width: calc(100vw - 20px);
    }
    
    .setcombo li{
        width: 33%;
        height: auto;
    }

    /* ------------Addon------------ */
    .Addon{
        width: calc(100vw - 20px);
        margin: 0 10PX;
    }

    /* ------------Info------------ */

    .Info{
        width: calc(100vw - 20px);
        height: auto;
        margin: 0 10PX;
    }
    
    .Nutrition{
        width: calc(100vw - 20px);
        height: auto;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap:8px 12px;
    }
    
    .Nutrition li{
        width: auto;
        height: auto;
        margin-right:20px;
    }
    
    .Nutrition h3{
        font-size: 18px;
    }
    
    .Nutrition h4{
        font-size: 14px;
    }

    /* ------------Notice------------ */

    .Notice{
        width: calc(100vw - 20px);
        height: auto;
        margin: 0 10PX;
        border-top: 1px solid #ccc;
    }
    
    .Noticecontent{
        width: calc(100vw - 20px);
        height: auto;
        padding-left: 20px;
    }
    
    .Noticecontent li{
        font-size: 14Px;
        line-height: 1.6;
        list-style-type: disc;
    }


    .Backbtn{
        width: 165px;
    }
    
    .Backbtn img{
        width: 20PX;
        height: 20PX;
    }

}

@media screen and (max-width: 576px) {
    .setcombo li{
        width: 50%;
    }
}
