@import url(reset.css);

/* ------------------------header------------------------ */
    
header{
    background-color: #E60012;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    z-index: 3000;
}

.container{
    width: 100%;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 3000;

    display: flex;
    justify-content: space-between;
}

.logo {
    width: 114px;
    height: 100%;
    display: block;
    margin-right: 30px;
}

.logo a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width:90px;
    height:62px;
}

.container .sild{
    width: 100%;
    height: 100%;
    background-color: #E60012;
    box-sizing: border-box;
}

/* 上層選單 */
.topsild{
    width: 100%;
    height: 50%;
    padding: 0 0px;
    display: flex;
    align-items: center;
    font-size: 0;
    box-sizing: border-box;
}

.topsild ul{
    width: 100%;
    height:19px;
    display: inline-block;
    text-align: right;
}

.topsild ul li{
    width: auto;
    height:100%;
    display: inline-block;
}

.topsild>ul>li.border>a::after{
    content: "|";
    padding: 0 8px;
}

.topsild a{
    display: block;
    margin: 0 auto;

    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.topsild a:hover{
    text-decoration:underline;

}

/* 下層選單 */
.downsild{
    width: 100%;
    height: 50%;
    padding: 0 0px;
    font-size: 0;
    box-sizing: border-box;
}

.downsild ul{
    width: 100%;
    height: 100%;
    display: flex;
}

.downsild li{
    width: 100%;
}

.downsild a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 30px;
}

.downsild a:hover{
    background-color: white;
    color: #E60012;
}

.downsild i{
    font-size: 20px;
    padding-right: 4px;
}

/* mobile burger*/

.sild ul.mburger{
    background-color: #E60012;
    height: 75.58px;
    text-align: right;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;

    display: none;
}

.sild ul.mburger li{
    display: inline-block;
    width: 72px;
    height:75.58px ;

}

.sild ul.mburger li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.6;

    display: flex;
    width: 72px;
    height:75.58px ;
    padding: 10px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    box-sizing: border-box;
    
}

.sild ul.mburger li a:hover{
    color: #E60012;
    background-color: white;
}

.sild ul.mburger li.burgerph a:hover{
    color: white;
    background-color:#E60012;
}

.mburger i{
    font-size: 20px;
    padding-right: 4px;
}

.sild ul.mburger li.burgerph{
    position: relative;
}

.sild ul.mburger li.burgerph a span{
    background:white;
    width: 34.38px;
    height: 4px;
    position: absolute;
}

.sild ul.mburger li.burgerph a span:nth-child(1) {
    margin-top: -40%;
    margin-left: 0;
}

.sild ul.mburger li.burgerph a span:nth-child(2) {
    margin-top: 0%;
    margin-left: 0;
}
.sild ul.mburger li.burgerph a span:nth-child(3) {
    margin-top: 40%;
    margin-left: 0;
}




/* ------------------------footer------------------------ */

footer{
    background-color: #A0D99E;
    width: 100%;
    height: auto;
}

.ftsild{
    width: 100%;
    height: auto;
    padding: 16px 0;
    box-sizing: border-box;
}

.fttop{
    width: 100%;
    padding-bottom: 16px;
    box-sizing: border-box;
    border-bottom:0.5px solid #62945B;
}

.map{
    width: 100%;
    height: 100%;
    padding: 0 120px;
    box-sizing: border-box;
}

.map ul {
    width: auto;
    height: 100%;
    display: flex;
}

.map ul li{
    width: auto;
    height: auto;
    margin-right: 24px;
}
.map a{
    width: 100%;
    height: 100%;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.map a:hover{
    text-decoration: underline;
}


.ftdown{
    width: 100%;
    height: auto;
}

.ftconnection{
    padding: 16px 120px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ftcon p{
    font-size: 14px;
    margin-bottom: 14px;
    color: #666;
}

.ftsocial a{
    margin-right: 12px;
}

.ftsocial i{
    font-size: 32px;
    color: #666;
}

.ftsocial a i:hover{
    color:#E60012;
}

.ftright {
    display: flex;
    align-items: flex-start;

}

.ftright_m{
    display: none;
}

.ftcon_m{
    display: none;
}

.ftfont span{
    padding: 0 120px;
    font-size: 12px;
    color: #62945B;
    display: flex;
    justify-content: flex-end;
}

/* -------------------------floatbox------------------------ */

.floatbox{
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 99;
}

.orderbtn {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-bottom: 8px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.orderbtn img{
    font-size: 0;
}

.topbtn{
    display: block;
    width: 60px;
    height: 44px;
    text-align: right;
}
.topbtn img{
    font-size: 0;
}

/*--------------- RWD：430px ---------------*/

@media screen and (max-width: 960px) {

/* ------header------ */

    header{
        height: 75.58px;
    }

    .container{
        width: 100%;
        height: 75.58px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .logo {
        width: auto;
        height: auto;
        display: block;
    }

    .logo img{
        width:60px;
        height:auto;
    }

    .container .sild{
        width: calc(100vw - 80px) ;
        height: 100%;
        background-color: #E60012;
        box-sizing: border-box;

        display: flex;
        justify-content: end;
    }

    .topsild{
        display: none;
    }

    .downsild{
        display: none;
    }

    .sild ul.mburger{
        display: block;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 576px) {
    
    .ftsild{
        width: 100%;
        height: 100%;
        padding: 0 0;
    }

    .fttop{
        width: 100%;
        border: none;
    }

    .map{
        width: 100%;
        height: auto;
        padding: 16px 0px;
    }
    
    .map ul {
        width: auto;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

    }
    
    .map ul li{
        width: auto;
        height: 30px;
        margin-right: 0px;

        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .map a{
        width: auto;
        margin: 0 0;
        font-size: 16px;
    }

    .ftdown{
        width: 100%;
        height: auto;
    }

    .ftconnection{
        padding: 16px 0px 0px;
        display: flex;
        flex-direction: column;

    }

    .ftleft{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .ftsocial{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 8px;
        margin-bottom: 8px;
    }

    .ftsocial a{
        margin-right: 0px;
    }

    .ftsocial i{
        font-size: 20px;
    }

    .ftcon{
        display: none;
    }

    .ftcon_m{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .ftcon_m p{
        font-size: 14px;
        margin-bottom: 8px;
        color: #666;
        text-align: center;
    }



    .ftright{
        display: none;
        margin-bottom: 8px;
    }

    .ftright_m{
        display: block;
        margin-bottom: 8px;
    }

    .ftright_m{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .ftfont span{
        padding: 0 0 ;
        justify-content: center;
    }

    .floatbox{
        right: 4px;
    }

}


@media screen and (max-width: 992px) {

    .map ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }


}