body{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    background-color: white; 
    margin: 0 auto;
    box-sizing: border-box;
}

/* ------------------------article------------------------ */
.wrapper{
    width:100%;
    height: auto;
}

/* -------Banner------- */
.banner{
    width: 100%;
    padding-top: 100px;
}

.banner a{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banner img{
    width: 100%;
    box-sizing: border-box;
}

.banner_map {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px 10px;
    box-sizing: border-box;
}

.banner_map a{
    width: auto;
    display: flex;
    align-items: flex-start;
    margin: 0 0 ;

    color: #333;
    text-decoration: none;
}

.banner_map a::after{
    content: ">";
    margin: 0 5px;
}

.banner_map a:last-child:after{
    content: "";
}

.banner_map a:hover{
    color: #E60012;
}


/* -----------------nav-menu----------------- */

.nav-menu{
    width: 100%;
    height: 160px;
    text-align: center;
}

.menu-list{
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px -12px rgba(0,0,0,.12);
}

.menu-list ul{
    width: 100%;
    height: 100%;
    padding: 0 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.menu-list li{
    width: 100%;
    height: 100%;
}

.menu-list a{
    font-size: 18px;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    line-height: 70px;

}

.menu-list>ul>li.onclick>a{
    background-color: #ffeeef;
    color:#E60012 ;
    font-weight: bold;
}

.menu-list a:hover{
    background-color: #ffeeef;
    color: #E60012;
    font-weight: bold;
}

.m_menulist{
    display: none;
}

.BG-category{
    width: 100%;
    height: 70px;

}

.BG-category ul{
    width: calc( 100vw - 240px);
    height: 100%;
    margin: 0 120px;
    display: inline-block;
    text-align: center;
}

.BG-category ul li{
    width: auto;
    height: 100%;
    display: inline-block;
}

.BG-category a{
    font-size: 16px;
    color: #333;
    text-decoration: none;

    width: auto;
    height: 70px;
    line-height: 70px;
}

.BG-category a:hover{
    color: #E60012;
    text-decoration: underline;
}


.BG-category>ul>li.bgline>a::after{
    content: "|";
    color: #333;
    padding: 0 8px;
}

/* -----------------product----------------- */

.product1{
    width: 100%;
    margin: 80px 0;
    height: auto;
}

.product1 h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}


.product2{
    width: 100%;
    margin: 80px 0;
    height: auto;
}

.product2 h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}


.product3{
    width: 100%;
    margin: 80px 0;
    height: auto;
}

.product3 h1{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}


/* -----------------card----------------- */


.card{
    width: calc(100vw - 240px);
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.card ul{
    width: 100%;
    height: auto;
    
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:24px 0;
}

.card li{
    width: 25%;
}

.cardbtn{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
    text-decoration: none;
}

a.link {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    color: transparent;
    text-align: center;
    transition: all 0.5s ease;

    width: 100%;
    height: 100%;
}

a.link:hover{
    transform:scale(1.1,1.1);
}

.cardbtn .tag{
    width: 67px;
    height: 20px;
    background-color:#FF7A00;
    align-content: center;
    margin: 9px auto;

}

.cardbtn .tag p{
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.card .img {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: self-end;
}

.card .img img{
    box-sizing: border-box;
    width: 150px;
    height: auto;
    display:block;
}

.Txt{
    width: 170px;
    height: auto;
    padding: 9px 0;
    margin: 0 auto;
}

.card .Txt .title h4{
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.card .Txt .price{
    width: 170px;
    display: inline-block;
    text-align: center;
}

.card .Txt .Before{
    width: 36px;
    display: inline-block;
    padding-right: 8px;
}

.card .Txt .Before h4{
    width: 36px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    color: #999;
    padding-bottom: 0px;
    text-decoration:line-through;
}

.card .Txt .Special{
    width: 36px;    
    display: inline-block;
}

.card .Txt .Special h4{
    width: 36px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    color:#E60012;
    padding-bottom: 0px;
}

.card .Txt .Original{
    width: 36px;    
    display: inline-block;
}

.card .Txt .Original h4{
    color: #333;
    width: 36px;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    padding-bottom: 0px;
}


/*--------------- RWD：414px ---------------*/

@media screen and (max-width: 1024px) {

    .card li{
        width: 30%;
        height: auto;
    }

}

@media screen and (max-width: 976px) {
    .banner{
        padding-top: 75.58px ;
    }
}


@media screen and (max-width: 828px) {

    .menu-list ul{
        width: 100%;
        height: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }


    .card li{
        width: 50%;
        height: auto;
    }

}


@media screen and (max-width: 629px) {
    /*-----------menu list------------- */

    .banner{
        margin-bottom: 60px;
    }

    .nav-menu{
        width: 100%;
        height: 112px;
        text-align: center;
    }

    .menu-list{
        display: none;
    }


    .m_menulist {
        position: relative;
        display: inline-block;
        width: calc(100vw - 20px);
        margin-bottom: 20px;
    }
    
    .m_menulist .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #E60012;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }
    
    .m_menulist .main h4 {
        margin: 0;
    }
    
    .m_menulist .nav_menulist {
        width: calc(100vw - 20px);
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        min-width: 160px;
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease;
    }
    
    .m_menulist .nav_menulist li {
        border-bottom: 1px solid #ddd;
    }
    
    .m_menulist .nav_menulist li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .m_menulist .nav_menulist li a:hover {
        background-color: #f1f1f1;
    }
    
    .m_menulist.show .nav_menulist {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .m_menulist ul li a:hover{
        color: #E60012;
        background-color:#ffeeef ;
    }

    .BG-category{
        width: 100%;
        height: 50px;
    
    }
    
    .BG-category ul{
        width: calc( 100vw - 20px);
        height: 100%;
        margin: 0 10px;
        display: inline-block;
        text-align: center;
    }

    
    .BG-category a{
        font-size: 14px;
        color: #333;
        text-decoration: none;
    
        width: auto;
        height: 50px;
        line-height: 50px;
    }


    
}


@media screen and (max-width: 576px) {

    /*-----------漢堡種類大標------------- */

    .product1{
        padding: 60px 0;
        margin: 0 0 ;
        box-sizing: border-box;
    }
    
    .product1 h1{
        font-size: 21px;
        margin-bottom:60px;
    }
    
    .product2{
        padding: 60px 0;
        margin: 0 0 ;
        box-sizing: border-box;
    }
    
    .product2 h1{
        font-size: 21px;
        margin-bottom:60px;
    }
    
    .product3{
        padding: 60px 0;
        margin: 0 0;
        box-sizing: border-box;
    }
    
    .product3 h1{
        font-size: 21px;
        margin-bottom:60px;
    }

    /*-----------card------------- */

    .card{
        width:calc(100vw - 20px);
    }
    
    .card ul{
        width: 100%;

    }
    
    .card li{
        width: 30%;
        height: 262px;

    }

    .card li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: end;
    }
    
    .cardbtn{
        width: 100%;
        height: 262px;
    }

    
    .Txt{
        width: 100%;
    }
    
    .card .Txt .title h4{
        font-size: 14px;
    }
    
    .card .Txt .price{
        width: 100%;
    }
    
    .card .Txt .Before{
        width: 32px;
        padding-right: 4px;
    }
    
    .card .Txt .Before h4{
        width: 32px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
    }
    
    .card .Txt .Special{
        width: 32px;    
    }
    
    .card .Txt .Special h4{
        width: 36px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color:#E60012;
        padding-bottom: 0px;
    }
    
    .card .Txt .Original{
        width: 36px;    
        display: inline-block;
    }
    
    .card .Txt .Original h4{
        color: #333;
        width: 36px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        padding-bottom: 0px;
    }

}

@media screen and (max-width: 596px) {

    .card li{
        width: 50%;
    }

}

@media screen and (max-width: 380px) {

    .card .img img{
        width: 150px;
    
    }

}


