
body{
    font-family:sans-serif,微軟正黑體, Arial, Helvetica, sans-serif;
    color: #333;
    background-color: white; 
    margin: 0 auto;
    box-sizing: border-box;
}

/* ------------------------article------------------------ */
.wrapper{
    width: 100%;
    height: auto;
}

/* -------Banner------- */
.banner{
    width: 100%;
    padding-top: 100px;
}

.banner a{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.banner img{
    width: 100%;
    box-sizing: border-box;
}

/* -------news------- */
.news{
    width: 100%;
    height: 60px;
    background-color: #f4f4f4;
    padding: 0 120px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.news-left{
    width:1040px ;
    height: 100%;
    display: flex;
}

.news-left h4{
    color: #E60012;
    font-size: 18px;
    height: 100%;
    padding:0 20px;
    line-height: 60px;
}

.news-left img{
    width:24px ;
    height:24px;
}

.news-left a{
    text-decoration: none;
    color: #333;
    width: 506px;
    height: 60px;
    padding:0 20px ;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}  

.news-left a:hover{
    text-decoration: underline;
}

.news-right{
    width:160px ;
    height: 100%;
    text-align: right
}

.news-right a{
    font-size: 18px;
    color: #333;
    text-decoration: none;

    width: 160px;
    height: 60px;
    line-height: 60px;
}

.news-right a:hover{
    text-decoration: underline;
}

/* -------burger------- */
.burger{
    width: 100%;
    padding: 100px 120px;
    text-align: center;
    box-sizing: border-box;
}

.burger h1{
    font-size: 36px;
    margin-bottom:100px;
    color: #E60012;
    font-weight: bold;
}

.swiper{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.swiperp-burger{
    width: 900px;
    height: 250px;
}

.swiperp-burger ul{
    display: flex;
    justify-content: space-between;
}

.swiperp-burger a{
    text-decoration: none;
    font-size: 22px;
    color: #333;
    
    display: inline-block;
    width: 200px;
    height: 250px;
}

.swiperp-burger a:hover{
    transform:scaleZ(2PX);
    
}

.swiperp-burger img{
    width: 200px;
    height: 187px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.prevbtn{
    width: 50px;
    height: 250px;
    line-height: 250px;
}

.nextbtn{
    width: 50px;
    height: 250px;
    line-height: 250px;
}

.menubtn{
    
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 100px auto 0;
}

.btn1{
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 100px auto 0;
}

.btn1:hover{
    background-color: #009D39;
}

.menubtn a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    line-height: 50px;
} 

/* -------location------- */
.location{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc; 
}

.location img{
    width: 50%;;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
}

.location-right{
    width: 50%;
    height: 100%;
    text-align: center;
}

.location-info {
    width: 100%;
    height: auto;
}

.location-right h1{
    font-size: 36px;
    color: #E60012;
    font-weight: bold;
    width: 100%;
    margin: 0 auto 30px; 
}

.location-right h2{
    width: 100%;
    font-size: 22px;
    margin: 0 auto 100px;
}

.Storebtn{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 0 auto;
}

.btn2 {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 100px auto 0;
}

.btn2:hover{
    background-color: #009D39;
}


.Storebtn a{
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    line-height: 50px;
}

/* -------member------- */
.member {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; 
}

.member img {
    width: 50%;;
    height: 100%;
    font-size: 0;
}

.member-left {
    width: 50%;
    height: 100%;
    text-align: center;
}

.member-info {
    width: 100%;
    height: auto;
}

.member-left h1{
    width: 100%;
    font-size: 36px;
    color: #E60012;
    font-weight: bold;
    margin: 0 auto 30px; 
}

.member-left h2{
    width:100%;
    font-size: 22px;
    line-height: 1.6;
    margin: 0 auto 100px;
    padding: 0 20px;
    box-sizing: border-box;
}

.memberbtn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 0 auto;
}

.btn3 {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: #E60012;
    margin: 100px auto 0;
}

.btn3:hover{
    background-color: #009D39;
}


.member a {
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    line-height: 50px;
}

/* -------service------- */
.service{
    width: 100%;
    height: 630px;
    margin: 100px auto;
    text-align: center
}

.service h1{
    font-size:36px;
    color: #E60012;
    font-weight: bold;
    margin-bottom: 100px;
}

.servicecontent{
    width: 100%;
    height: auto;
    padding: 0 120px;
    box-sizing: border-box;
}

.servicecontent ul{
    height: 385px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.servicecontent li{
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.servicecontent img{
    width: 250px;
    height:250px;
    box-sizing: border-box;
    font-size: 0;
    margin-bottom: 11.5px;
}

.servicecontent a{
    font-size: 16px;
    text-decoration: none;
    color: #333;

    display: inline-block;
    width: 250px;
    height: 300px;

}

/*--------------- RWD---------------*/

@media screen and (max-width: 960px) {
    .banner{
        padding-top: 75.58px ;
    }

}

@media screen and (max-width: 1024px) {

    .news{
        padding: 0 20px;
    }

    .burger{
        padding: 100px 20px;
    }

    .location-right h2{
        margin: 0 auto 60px;
    }

    .btn2{
        margin: 60px auto 0;
    }


    .member-left h2{
        margin: 0 auto 60px;
    }

    .btn3{
        margin: 60px auto 0;
    }

    .servicecontent{
        padding: 0 20px;
        margin-bottom:100px;
    }

    .servicecontent ul{
        height: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .service{
        height: auto;
    }

}

@media screen and (max-width: 430px) {
    .banner{
        padding-top: 75.58px ;
    }

    .news{
        height: 187px;
        padding: 40px 20px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .news-left{
        width: 374px;
        height: 75px;
        display: flex;
        flex-direction: column;
    }

    .news-left h4{
        padding: 0 0;
        line-height: 23px;
    }

    .news-left a{
        width: 374px;
        padding: 0 0;
        display: flex;
        justify-items: start;
        align-items: start;

        line-height: 1.6;
        font-size: 14px;
    }

    .news-right{
        width: 374px;
        height: 16px;
    }

    .news-right a{
        font-size: 14px;
        line-height: 16px;
    }


    .burger{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        height: 410px;
        margin-bottom: 60px;
        
    }

    .burger h1{
        font-size: 32px;
        height: 30px;
        margin-bottom: 0;
    }

    .swiper{
        width: 394px;
        height: 273px;
        margin-top: 16px;
        margin-bottom: 40px;
        box-sizing: border-box;
    }

    .swiper .prevbtn img{
        width: 30px;
        height: 30px;
    }

    .swiperp-burger{
        width: 250px;
        height: 273px;
    }


    .swiperp-burger ul{
        width: 250px;
        height: 235px;
        display: flex;
        justify-content: space-between;
    }

    .swiperp-burger li{
        display: flex;
        justify-content: space-between;
    }
    
    .swiperp-burger a{
        text-decoration: none;
        font-size: 22px;
        color: #333;
        
        display: inline-block;
        width: 250px;
        height: 235px;
    }
    
    .swiperp-burger img{
        width: 250px;
        height: 235px;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    .menubtn{
        margin-top: 0;
    }
    .btn1{
        margin-top: 0;
    }

    .location{
        display: flex;
        flex-direction: column;
        border-top: 0px solid #ccc; 
        margin-bottom: 60px;
        box-sizing: border-box;
    }
    
    .location img{
        width: 100%;;
    }
    
    .location-right{
        width: 100%;
        height: 311px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    .location-right h1{
        font-size: 32px;
        color: #E60012;
        font-weight: bold;
        width: 100%;
        margin: 0 auto 12px; 
    }
    
    .location-right h2{
        width: 100%;
        font-size: 16px;
        margin: 0 auto 30px;
    }

    .btn2{
        margin-top: 0;
    }


    .member{
        display: flex;
        flex-direction: column;
        border-top: 0px solid #ccc; 
        margin-bottom: 60px;
        box-sizing: border-box;
    }
    
    .member img{
        width: 100%;;
    }
    
    .member-left{
        width: 100%;
        height: 311px;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    .member-left h1{
        font-size: 32px;
        color: #E60012;
        font-weight: bold;
        width: 100%;
        margin: 0 auto 12px; 
    }
    
    .member-left h2{
        width: 100%;
        font-size: 16px;
        margin: 0 auto 30px;
    }

    .btn3{
        margin-top: 0;
    }

    .member > .member-left:nth-child(1){
        order: 2;
    }

    .member > .memberimg:nth-child(2){
        order: 1;
    }

    .service{
        height: auto;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    
    .service h1{
        font-size:32px;
        margin-bottom: 30px;
    }
    
    .servicecontent{
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    .servicecontent ul{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .servicecontent li{
        width: 165px;
        height: 213px;
    }
    
    .servicecontent img{
        width:165px ;
        height:165px;
    }
    
    .servicecontent a{
        font-size: 14px;
    
        width: 165px;
        height: 213px;
    
    }


}